#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(196,196,196,0.4);
}

.photographer-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.photographer-header_description{
    order:-1;
}

.photographer-header_name{
    color:#D3573C;
    font-size: 64px;
    font-weight: normal;
    margin:0;
}

.photographer-header_location{
    color: #901C1C;
    font-size:24px;
    font-weight: normal;
}

.photographer-header_tagline{
    font-size:18px;
}
.photographer-header_img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-fit: cover;
}
.photographer-media{
    display:flex;
    flex-wrap: wrap;
    margin: 0 100px;
}

.photographer-media_card{
    flex:0 0 30%;
    margin-right: 5%;
}

.photographer-media_card:focus-visible .photographer-media_image{
    border:4px solid #901C1C;
    outline: none;
}
.photographer-media_card:nth-child(3n){
    margin-right:0px;
}

.photographer-media_image{
    height:400px;
    width:100%;
    border-radius: 5px;
    object-fit: cover;
}

.photographer-media_video{
    height:400px;
    width:100%;
    border-radius: 5px;
    object-fit: cover;
}

.photographer-media_card-text{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:#901C1C;
}

.photographer-media_card-like-container{
    display:flex;
    align-items: center;
}

.photographer-media_number-likes{
    margin-right: 10px;
}

.sort{
    display: flex;
    margin: 20px 0 0 100px;
}

.sort-options_container{
    display: flex;
    flex-direction: column;
    margin-left:30px;
    height: 100px;
}

.sort-options{
    border:none;
    background-color: #901C1C;
    color:white;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:focus-visible,.contact_button:hover{
    box-shadow: 5px 5px 10px #901C1C;
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 50px auto;
}
.close-modal:focus-visible{
    border:2px solid #901C1C;
}
.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input,.text-control{
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form input:focus-visible{
    background-color: #DEDEDE;
}

#user-msg{
    height: 150px;
}
.err-msg.hidden{
    display: none;
}
.text-control[aria-invalid=true]+.err-msg{
    display: block;
    font-size: 1.5em;
    color: #901C1C;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    line-height: 1;
    opacity: 1;
    transition: 0.3s;
}

.text-control[aria-invalid=true]{
    border: 3px solid #901C1C;
}

#lightbox-modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(196,196,196,0.4);
}