#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(196,196,196,0.4);
}


.photographer-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.photographer-header_description{
    order:-1;
}

.photographer-header_name{
    color:#D3573C;
    font-size: 64px;
    font-weight: normal;
    margin:0;
}

.photographer-header_location{
    color: #901C1C;
    font-size:24px;
    font-weight: normal;
}

.photographer-header_tagline{
    font-size:18px;
}
.photographer-header_img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-fit: cover;
}
.photographer-media{
    display:flex;
    flex-wrap: wrap;
    margin: 0 100px;
}

.photographer-media_card{
    flex:0 0 30%;
    margin-right: 5%;
}

.photographer-media_image:focus-visible,.photographer-media_video:focus-visible{
    border:4px solid #901C1C;
    outline: none;
}
.photographer-media_card:nth-child(3n){
    margin-right:0px;
}

.photographer-media_image{
    height:400px;
    width:100%;
    border-radius: 5px;
    object-fit: cover;
}

.photographer-media_video{
    height:400px;
    width:100%;
    border-radius: 5px;
    object-fit: cover;
}

.photographer-media_card-text{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:#901C1C;
}

.photographer-media_card-like-container{
    display:flex;
    align-items: center;
}

.photographer-media_number-likes{
    margin-right: 10px;
}

.photographer_price-and-likes{
    display: flex;
    align-items: center;
    position: fixed;
    width: 15%;
    bottom:0;
    right:5%;
    background-color: #DB8876;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding: 20px 40px;
}

.photographer_tot-likes{
    order:-1;
    margin-right: 5px;
}
.photographer_price{
    margin-left:40px;
}

.sort{
    display: flex;
    align-items: baseline;
    position: relative;
    margin: 20px 0 20px 100px;
    z-index: 1;
    font-size: 18px;
}

.sort-options_container{
    display: flex;
    flex-direction: column;
    margin-left:30px;
    height: 50px;
    border-radius: 5px;
    width: 200px;
}

.sort-options:nth-child(3){
    border-radius: 0 0 5px 5px;
}

.sort-options{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border:none;
    background-color: #901C1C;
    color:white;
    text-align: start;
}

.sort-options div{
    display: flex;
    padding: 15px;
    width: 80%;
    margin-top: 5px;
    text-align: start;
    font-size:18px;
}
.sort-options:focus-visible,.sort-options:hover{
    background-color: #DB8876;
    color:black;
}


.main-sort-option{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border:none;
    background-color: #901C1C;
    color:white;
    border-radius: 5px 5px 0 0;
    font-size:18px;
}

.main-sort-option[aria-expanded="false"]{
    border-radius:5px;
}
.main-sort-option:focus-visible,.main-sort-option:hover{
    background-color: #DB8876;
    color:black;
}

.sort-options_container::after{
    content: "";
    width:90%;
    height: 1px;
    border:1px solid transparent;
    order:3;
}

.sort-options_container::before{
    content: "";
    width:90%;
    height: 1px;
    border:1px solid transparent;
    order:1;
}

.sort-options:nth-child(2){
    order:2;
}
.sort-options:nth-child(3){
    order:4;
}
.main-sort-option div{
    display: flex;
    padding: 15px 20px;
    width: 80%;
    justify-content: space-between;
    margin-top: 5px;
    align-items: center;
}

.hidden{
    display: none;
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:focus-visible,.contact_button:hover{
    background-color: #DB8876;
    color:black;
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 50px auto;
}
.close-modal:focus-visible{
    border:2px solid #901C1C;
}
.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input,.text-control{
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form input:focus-visible{
    background-color: #DEDEDE;
}

#user-msg{
    height: 150px;
}
.err-msg.hidden{
    display: none;
}
.text-control[aria-invalid=true]+.err-msg{
    display: block;
    font-size: 1.5em;
    color: #901C1C;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    line-height: 1;
    opacity: 1;
    transition: 0.3s;
}

.text-control[aria-invalid=true]{
    border: 3px solid #901C1C;
}

#lightbox-modal{
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

#lightbox-modal[aria-hidden="false"]{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    list-style: none;
}
.current-slide{
    width:100%;
    height: 500px;
    object-fit: contain;
}

.current-slide_title{
    color:#901C1C;
    font-size:24px;
}
.close-lightbox-modal{
    position: absolute;
    right: 10px;
    top:10px;
}

.controls-lightbox_prev,.controls-lightbox_next{
    color:#901C1C;
    font-size:4em;
    font-weight: bold;
}